__pycache__/
*.pyc
*.log
.terraform/
terraform.tfstate # to keep it local and do not push to github, or there will be a state conflic
terraform.tfstate.backup
*.tfvars
python-scripts/*
docker-startup-jenkins.ps1
# EXCEPT the one with only public data
!web.autoport.auto.tfvars